header,
section {
    margin: 2em auto;
    width: min(75em, 100%);
    background: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

.flex-container ul {
    text-align: center;
    list-style-type: none;
    /* removes bullets */
    gap: 2em;
}

.flex-container ul a {
    text-decoration: none;
    /* removes underline by default for links */
    color: var(--text-color);
    transition: 0.5s;
}

.flex-container ul a:hover {
    /* when hovering ontop of link, underline link*/
    color: rgb(0, 88, 183);
}

section#Darklonia-Demise {
    background-color: var(--color-3);
}

section#Darklonia-Demise h2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5s;
}

section#Darklonia-Demise h2 a:hover {
    color: rgb(0, 88, 183);
}

section#Underwater {
    background-color: var(--color-2);
}

img {
    display: block;
    border-radius: 2em;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding: 10px;
}

section#Website {
    background-color: var(--color-3);
}

section#Handwriting {
    background-color: var(--color-2);
}